/*https://www.monetizemore.com/blog/best-mobile-ad-sizes-2014/*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
}

.main {
	background-color: burlywood;

	max-width: 1000px;
	margin: auto;
}

.header {
	background-color: lightgray;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

a {
	color: black;
	text-decoration: none;
}

.nav-bar {
	background-color: aquamarine;

	display: flex;
	flex-direction: row;
}

.tab {
	background-color: blue;
	border: solid black 1px;

	flex: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: center;
}

#btn_menu {
	display: none;
}

.hamburger label {
	background-color: darkslategray;

	cursor: pointer;
	border-radius: 8%;
}

.hamburger label i {
	color: white;

	font-size: 1.3em;
	margin: 10px;
}

.fa-times {
	display: none;
}

.burger-menu {
	background-color: darkgoldenrod;

	position: absolute;
	z-index: -10;
	opacity: 0;
	transition: opacity 0.3s;
	left: 0%;
	top: 0%;
}

#btn_menu:checked ~.burger-menu {
	background-color: darkslategray;

	opacity: 1;
	z-index: 10;
	width: 100vw;
	height: 100vh;
}

#btn_menu:checked ~label {
	z-index: 20;
}

#btn_menu:checked ~label>.fa-bars {
	display: none;
}

#btn_menu:checked ~label>.fa-times {
	display: inline-block;
}

/*
@media screen and (max-width: 500px) {
	.burger-menu {
		border: groove black 15px;

		opacity: 1;
		z-index: 10;
		width: 100vw;
		height: 100vh;
	}
}
*/

.content {
	display: flex;
	flex-direction: row;
}

.headshot1 {
	background-color: blueviolet;

	flex: 0 0 50%;
}

.headshot1 img {
	max-width: 100%;
	/*	max-height: 500px;*/
	object-fit: cover;
	border-radius: 50%;
}

.headshot2 {
	background-color: blueviolet;

	display: none;
	flex: 0 0 50%;
	/*	min-height: 250px;*/
}

.headshot2 img {
	max-width: 100%;
	/*	min-height: 100%;*/
	object-fit: cover;
	/*	max-height: 300px;*/
	border-radius: 50%;
}

.about_me {
	background-color: indianred;

	flex-wrap: wrap;
}

.about_me_header {
	background-color: yellow;
}

.about_me_header > p:first-child {
	font-size: 3em;
	font-weight: bold;
}

.about_me_header > p:last-child {
	font-size: 1.5em;
}

.page_links {
	background-color: darkkhaki;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.page_link {
	background-color: darksalmon;

}

.footer {
	background-color: cadetblue;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact_info_box {
	background-color: coral;

	display: flex;
	flex-direction: row;
	width: 1000px;
	flex-wrap: wrap;
}

.contact_info_column {
	background-color: chartreuse;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	min-width: 50%;
	flex: 1 1 auto;
}

.contact_info {
	background-color: aliceblue;
	border: solid black 1px;
	display: flex;
	flex-direction: row;
	min-width: 200px;
}

.contact_info > div {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact_info > i {
	background-color: palevioletred;

	flex: 1 1 auto;
	border-radius: 50%;
	font-size: 1.5em;
	padding: 13px;
}

@media (max-width: 750px) {
	.headshot1 {
		display: none;
	}

	.headshot2 {
		display: block;
	}

	.nav-bar {
		display: none;
	}

	.hamburger {
		display: flex;
	}

}















