/*

From onload:
- Top 3 movie img screenshots for carousel: carousel img src attribute value
- Comedy and Drama movies:;
	<div class="img_div col-12 col-sm-6 col-md-4 col-xl-2" data-toggle="modal" data-target="#movie_details">
		<img src="images/posters/bladerunner2049.jpg">
	</div>
- If logged in, username innerhtml in .login

*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	background-color: #e5e5e5;
}

.header,.footer {
	background-color: #242f40;
	color: #e5e5e5;
}

.header_cont,.footer_cont {
	display: flex;
	padding-top: 2em;
  font-family: 'Montserrat', sans-serif;
}

.header_cont {
	justify-content: space-between;
	align-items: end;
	padding-bottom: .3em;
}

.header_cont > div {
	display: flex;
	align-items: end;
}

.user_icon {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	object-fit: cover;
	margin-left: 1rem;
}

.header h1 {
    margin: 0;
}

.login,.username {
	font-size: 1.25rem;
	font-weight: 300;
	color: #e5e5e5;
}

.login:hover {
	color: #cca43b;
}

.username:hover {
	color: #cca43b;
}

.header_cont div {
	position: relative;
}

.header_cont .fa-shopping-cart {
	font-size: 1.6rem;
	padding-left: .5em;
	color: #e5e5e5;
}

.header_cont .fa-shopping-cart:hover {
	color: #cca43b;
	cursor: pointer;
}

.header_cont .badge {
	position: absolute;
	top: -5px;
	right: -13px;
	font-weight: bold;
}

.main.container {
	background-color: #cca43b;

	padding-top: 15px;
	padding-bottom: 15px;
}

.carousel-inner {
	border: 15px solid #363636;
}

.carousel-item img {
	height: 400px;
	object-fit: cover;
}

.modal-content.rounded-top {
	background-color: #363636;
}

.modal-body {
	border-bottom: 1px solid #cca43b;
}

.modal-body {
	background-color: #363636;
}

/*.modal-body > video {
	background-image: url("../images/screenshots/bladerunner2049.jpg");
	background-position: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

.iframe_container {
	position: relative !important;
	padding-top: 56.25%;
	overflow: hidden;
	/*height: 315px;*/
	width: 100%;
	/*height: 100%;*/
}

iframe {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border: 0;
}

.modal-footer {
	background-image: linear-gradient(#242f40, #cca43b);
	border: none !important;
	color: #ffffff;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
}

.modal-footer {
    font-family: 'Montserrat', sans-serif;
}

.modal-title {
	font-weight: bold;
}

.modal-footer button span {
	color: #e5e5e5;
	margin-left: 1em;
}

.modal-footer > div:first-child {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	padding: 1rem 1rem;
}

.modal-footer > div:last-child {
	margin: 0;
	margin-bottom: 1.5em;
}

.movie_text {
	display: flex;
	font-size: 1.2em;
	padding: 0 1em;
}

.modal_footer_bgrnd {
	padding: 0 1em;
}

.modal_footer_bgrnd img {
	width: 100%;
	object-fit: cover;
}

.controls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.bottom_controls i,input {
	cursor: pointer;
	color: #e5e5e5;
}

.big_play {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	font-size: 3rem;
}

.big_play i {
	cursor: pointer;
	color: #e5e5e5;
}

.controls > input {
	background-color: yellow;
}

.bottom_controls {
	padding-top: 4px;
	background-color: #363636;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
	padding-left: 2%;
	padding-right: 2%;
}

.bottom_controls div:first-child {
	display: flex;
	align-items: center;
}

.bottom_controls [name=volume] {
	max-width: 100px;
	margin-left: 4px;
}

.bottom_controls .fa-play,.fa-pause {
	margin-right: 18px;
}

.bottom_controls .fa-volume-off {
	display: none;
	margin-right: 14px;
}

.bottom_controls .fa-volume-down {
	display: none;
	margin-right: 8px;
}

.products {
	background-color: #363636;
	color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    padding: 15px;
}

.products h2:first-child {
	margin-top: 0;
}

.products h2 {
	margin-top: .8rem;
}

.prod-cat {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}

.prod-cat .img_div {
	display: flex;
	padding:0 !important;
}

.prod-cat img {
	object-fit: cover;
	flex: 1;
}

.prod-cat img:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0px 0px 20px black;
	transition: transform .3s, box-shadow .3s;
	z-index: 5;
	cursor: pointer;
}

.footer_cont {
	align-content: start;
	padding-bottom: 1.5rem;
}

.social {
	text-align: center;
}

.social div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2.2rem;
}

.social i:hover {
	cursor: pointer;
	color: #cca43b;
}

@media (max-width: 1200px) {
	.container {
		max-width: 1141px;
	}
	.prod-cat div {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.footer_cont {
		flex-direction: column;
	}
	.social div {
		font-size: 4rem;
		justify-content: center;
		gap: 15px;
	}
}

@media (max-width: 576px) {
	.prod-cat div img {
		width: 100%;
	}
}
