* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	background-color: #e5e5e5;
}

.header,.footer {
	background-color: #242f40;
	color: #e5e5e5;
}

.header_cont,.footer_cont {
	display: flex;
	padding-top: 2em;
    font-family: 'Montserrat', sans-serif;
}

.header_cont {
	justify-content: space-between;
	align-items: end;
	padding-bottom: .3em;
}

.header h1 {
    margin: 0;
}

.login {
	font-size: 1.25rem;
	font-weight: 300;
	color: #e5e5e5;
}

.login:hover {
	color: #cca43b;
}

.header_cont div {
	position: relative;
}

.header_cont .fa-shopping-cart {
	font-size: 1.6rem;
	padding-left: .5em;
	color: #e5e5e5;
}

.header_cont .fa-shopping-cart:hover {
	color: #cca43b;
	cursor: pointer;
}

.header_cont .badge {
	position: absolute;
	top: -5px;
	right: -13px;
	font-weight: bold;
}

.main.container {
	background-color: #cca43b;

	padding-top: 15px;
	padding-bottom: 15px;
}

.carousel {
	background-color: blue;

}

.carousel-inner {
	border: 15px solid #363636;
}

.carousel-item img {
	height: 400px;
	object-fit: cover;
}

.products {
	background-color: #363636;
	color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    padding: 15px;
}

.prod-cat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.prod-cat > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}

.prod-cat .img_div {
	padding: 0;
}

.prod-cat img {
	min-width: 150px;
	width: 100%;
	object-fit: cover;
}

.prod-cat img:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0px 0px 20px black;
	transition: transform .3s, box-shadow .3s;
	z-index: 5;
}

.footer_cont {
	align-content: start;
	padding-bottom: 1.5rem;
}

.social {
	text-align: center;
}

.social div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 2.2rem;
}

.social i:hover {
	cursor: pointer;
	color: #cca43b;
}

@media (max-width: 1200px) {
	.container {
		max-width: 1141px;
	}
	.prod-cat div {
		width: 80%;
	}
	body {
		background-color: green;s
	}
}

@media (max-width: 768px) {
	.footer_cont {
		flex-direction: column;
	}
	.social div {
		font-size: 4rem;
		justify-content: center;
		gap: 15px;
	}
}

@media (max-width: 576px) {
	.prod-cat div img {
		width: 100%;
	}
}














































