/*https://www.monetizemore.com/blog/best-mobile-ad-sizes-2014/*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	background-color: antiquewhite;

	max-width: 1300px;
	margin:auto;
}

.header {
	background-color: aquamarine;

	display: flex;
	flex-wrap: wrap;
}

.title-div {
	background-color: gray;

	flex: auto;
	min-width: 480px;
}

.nav-bar-div {
	background-color: aqua;

	flex: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.nav-bar {
	width: 500px;
	display: flex;
}

.tab {
	background-color: beige;

	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}

.banner {
	background-color: azure;

}

.content {
	background-color: burlywood;

	display: flex;
}

.article {
	background-color: chocolate;

}

.article-title {
	background-color: cornflowerblue;

}

.article-img {
}

.article-img img {
	width: 100%;
	max-height: 350px;
	object-fit: cover;
}

.aside {
	background-color: cornsilk;

	min-width: 350px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.login-box {
	background-color: red;

	display: flex;
	flex-direction: column;
}

.login-heading {
	background-color: floralwhite;

}

.login-inputs {
	background-color: darkblue;

	display: flex;
	flex-direction: column;
}

.login-button {
	background-color: orange;

}

.aside-articles-heading {
	background-color: firebrick;
}

.aside-articles {
	background-color: dodgerblue;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0px 20px;
}

.aside-article {
	background-color: yellow;

	flex: 1 1 auto;
	position: relative;
}

.aside-article div:first-child {
	background-color: black;
	color: white;
	height: 40%;

	position: absolute;
	bottom: 0;
	width: 100%;
}

.aside-article div img {
	width: 100%;
	object-fit: cover;
}

.footer {
	background-color: cadetblue;

}

@media (max-width: 980px) {
	.content {
		flex-wrap: wrap;
	}
}






















