* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0 auto;
	justify-content: center;
}

.offers {

}

.offers-col {
	height: 400px;
	width: 400px;
	display: inline-block;
}

.offer {
	width: 100%;
	height: 50%;
	position: relative;
}

.offer_img {
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 1;
}

.offer_text {
	height: 100%;
	width: 50%;
	color: white;
	background-color: black;
	position: absolute;
	right: 50%;
}

.offer:hover .offer_text {
	right: 0%;
	transition: right .5s;
	transition-timing-function: ease;
}
