* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	display: block;
	background-color: black;
	color: white;
	padding:10px;
}
li:hover {
	background-color: grey;
}

.menu > li {
	float:left;
	position: relative;
	width:100px;
}
.menu li ul {
	display: none;
	position: absolute;
	min-width: 100px;
	left:0px;
	top:100%;
}
.menu li:hover > ul {
	display: block;
	background-color: red;
}
.menu li > ul li > ul {
	left: 100px;
	top: 50%;
}

/* VOLVER */
#volver_div {
	background-color: rgb(0,0,0,.4);
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#volver_link {
	font-weight: bold;
	text-decoration-line: none;
	font-family:monospace;
	color: white;
	opacity: 1;
}
