/* Tasca 7 */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* large */

.body {
	background-image: url("../images/forest2.jpeg");
	background-attachment: fixed;
	background-position: center;
	font-family: 'Montserrat', sans-serif;
}

.content {
	width: 992px;
	margin: 0 auto;
}

.header {
	height: 75px;
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: flex-end;
	padding-bottom: 5px;
	margin-top: 10px;
}

.nav-bar {
	background-color: aqua;
	height: 50px;
	display: flex;
}

.nav-tab {
	background-color: floralwhite;
	width: 50%;
	height: 100%;
	padding-left: 5px;
	padding-top: 5px;
	color: black;
	text-decoration: none;
}

#nav-tab-2 {
	border-top: 1px solid saddlebrown;
	border-left: 1px solid saddlebrown;
	border-right: 1px solid saddlebrown;
}

#nav-tab-1 {
	border-bottom: 1px solid saddlebrown;
	border-top: 1px solid darkseagreen;
	border-left: 1px solid darkseagreen;
}

.main {
	background-color: floralwhite;
	padding: 8px;
	border-bottom: 1px solid saddlebrown;
	border-left: 1px solid saddlebrown;
	border-right: 1px solid saddlebrown;
	height: 825px;
}

.banner {
	background-color: red;
	height: 33%;
}

.banner_img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.articles {
	height: 50%;
	position: relative;
}

.articles_content {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.article {
	width: 100%;
	height: 33.333%;
	position: relative;
	margin-top: 10px;
}

.article_img {
	background-color: darkcyan;
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	padding: 5px;
}

.article_img.img1 {
	object-position: 50% 45%;
}

.article_img.img2 {
	object-position: 50% 64%;
}

.article_img.img3 {
	object-position: 50% 23%;
}

.article_text {
	height: 100%;
	width: 50%;
	color: white;
	background-color: darkcyan;
	position: absolute;
	right: 50%;
	padding: 10px;
	font-size: .90em;
}

.article:hover .article_text {
	right: 0%;
	transition: right .5s;
	transition-timing-function: ease;
}

.under_const {
	height: 50%;
	position: relative;
	display: none;
	justify-content: center;
}

.under_const_img_box {
	height: 75%;
	width: 75%;
}

.under_const_img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.sponsors {
	height: 17%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
}

.sponsor {
	background-color: lightgreen;
	height: 100px;
	width: 100px;
}

.sponsor_img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.footer {
	height: 75px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer > p,
h4 {
	color: white;
}

/* medium */

@media (max-width: 992px) {
	.content {
		width: 768px;
	}

	.banner {
		height: 28%;
	}

	.articles {
		height: 56%;
	}

	.article_img.img2 {
		object-position: 50% 70%;
	}
}

/* small */

@media (max-width: 768px) {
	.content {
		width: 576px;
	}

	.main {
		height: 980px;
	}

	.banner {
		height: 20%;
	}

	.articles {
		height: 57%;
		position: relative;
	}

	.article_img.img2 {
		object-position: 50% 75%;
	}

	.sponsors {
		height: 23%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}

/* extra small */

@media (max-width: 575px) {
	.content {
		width: 320px;
	}

	.main {
		height: 1725px;
	}

	.banner {
		height: 2%;
		max-height: 200px;
	}

	.articles {
		height: 62%;
		position: relative;
	}

	.article_img {
		width: 100%;
		height: 50%;
	}

	.article_text {
		height: 50%;
		width: 100%;
		bottom: 50%;
		left: 0%
	}

	.article:hover .article_text {
		bottom: 0%;
		transition: right .5s;
		transition-timing-function: ease;
	}

	.sponsors {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		height: 28%;
	}

	.welcome {
		height: 55%;
	}

	.banner {
		height: 20%;
	}
}

/* VOLVER */
#volver_div {
	background-color: rgb(0, 0, 0, .4);
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#volver_link {
	font-weight: bold;
	text-decoration-line: none;
	font-family: monospace;
	color: white;
	opacity: 1;
}
